body {
    font-size: 16px;
    background-color: #fff;
    margin: 30px;
    font-family: 'Courier New', Courier, monospace;
}

/* Activity 1 styles */
.content1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
    justify-items: center;
    grid-gap: 20px;
}

.red1 {
    width: 100%;
    height: 100px;
    background-color: red;
    grid-column: 1 / 3;
}

.green1 {
    width: 200px;
    height: 200px;
    background-color: green;
}

.gold1 {
    width: 200px;
    height: 200px;
    background-color: gold;
}

.blue1 {
    width: 100%;
    height: 100px;
    background-color: blue;
    grid-column: 1 / 3;
}

/*Layout2
    Used relative positioning and equal px to move every box into the correct possition*/

.red2 {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
}

.green2 {
    width: 100px;
    height: 100px;
    background-color: green;
    position: relative;
    left: 50px;
    top: -50px;
}

.gold2 {
    width: 100px;
    height: 100px;
    background-color: gold;
    position: relative;
    left: 100px;
    top: -100px;
}

.blue2 {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    left: 150px;
    top: -150px;
}

/*Layout 3
    Used similar methods to layout 1 to get the right posstioning and sizes*/

.content3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
}

.red3 {
    width: 100%;
    height: 100px;
    background-color: red;
    grid-column: 1 / 3;
    
}

.green3 {
    width: 275px;
    height: 200px;
    background-color: green;
}

.gold3 {
    width: 275px;
    height: 200px;
    background-color: gold;
    justify-self: end;
}

.blue3 {
    width: 100%;
    height: 100px;
    background-color: blue;
    grid-column: 1 / 3;
}

/*Layout 4
    Used grid rows as well as grid columns to size and possition the red box correctly and the three side boxes as well. */

.content4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 600px;
}

.red4 {
    width: 100%;
    height: 100%;
    background-color: red;
    grid-row: 1 / 4;
}

.green4 {
    width: 100%;
    height: 100px;
    background-color: green;
}

.gold4 {
    width: 100%;
    height: 100px;
    background-color: gold;
}

.blue4 {
    width: 100%;
    height: 100px;
    background-color: blue;
}

/*Laytout 5
    I set the max width to 600px and set red, gold and blue to be 100% of the width available. 
    I then set green to flaot left so that it sould sit on top of the gold box. I put the lorem ipsum text
    inside of a <p> tag and put that inside of the <div> tag so that the text would sit in the gold box. 
    I set the <p> tag to have a margin of 0 to cancel out the inherited top and bottom margins. I then set the <p>
    tag to have a padding of 1em and gave the green box a right and bottom margin of 1em.*/

.content5 {
    max-width: 600px;
}

.red5 {
    width: 100%;
    height: 100px;
    background-color: red;
}

.green5 {
    width: 200px;
    height: 200px;
    background-color: green;
    float: left;
    /*Used to give the text padding from the green box*/
    margin-right: 1em;
    margin-bottom: 1em;
}

.gold5 {
    width: 100%;
    height: 350px;
    background-color: gold;
}

/*Used to give the text in the gold box padding from all of the edges*/
.gold5 > p {
    margin: 0;
    padding: 1em;
}

.blue5 {
    width: 100%;
    height: 100px;
    background-color: blue;
}

/*Layout 6
    Used grid and set all of the boxes to have a relative positioning. I set the red6 and blue 6 to 
    have a z-index of -1 so that they are behind the yellow and green boxes. I then set all of the sizes for the boxes and moved them to the correct possitions. 
    I set the same max width as the other sections, 600px, so that I could easily figure out where each box needed to be positioned in relation to the other 
    boxes.*/

.content6 {
    display: grid;
    max-width: 600px;
}

.red6 {
    width: 400px;
    height: 200px;
    background-color: red;
    position: relative;
    z-index: -1;
}

.green6 {
    width: 200px;
    height: 200px;
    background-color: green;
    position: relative;
    top: 200px;
}

.gold6 {
    width: 200px;
    height: 400px;
    background-color: gold;
    position: relative;
    left: 400px;
    top: -200px;
}

.blue6 {
    width: 400px;
    height: 400px;
    background-color: blue;
    position: relative;
    left: 100px;
    top: -700px;
    z-index: -1;
}