/*Desiced to importat the fonts and colors 
    from my site-plan to make everything easier to assign*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&display=swap');

:root {
    --primary-color: #40916cff;
    --secondary-color: #de6e4bff;
    --accent1-color: #dad2d8ff;
    --accent2-color: #143642ff;

    --heading-font: "Source Sans Pro", Helvetica, sans-serif;
    --paragraph-font: 'Josefin Slab', Times, serif;
}
html {
    background-color: var(--primary-color);
}

body {
    font-family: 'Josefin Slab', Times, serif;
    font-size: 16px;
    margin: 0;
}

main {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
}

header, footer {
    max-width:960px;
    margin: 0 auto;
}

header {
    align-content: center;
    display: flex;
    justify-content: space-between;
    padding: .5em 0;
    color: var(--secondary-color);
    background-color: var(--accent2-color);
}

.heading {
    display: flex;
    align-items: center;
    padding-left: 1em;
}

h1 {
    font-family: var(--heading-font);
    padding-left: 5px;
}

#icon {
    padding: .5em;
}

nav {
    line-height: 3em;
    text-align: center;
    font-size: 1.2rem;
}

nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

nav a {
    padding: 1em;
    min-width: 70px;
}

nav a:link,
nav a:visited {
    color: var(--primary-color);
    text-decoration: none;
}

nav a:hover {
    color: var(--accent1-color);
    background-color: var(--accent2-color);
    text-decoration: underline;
}

main {
    background-color: var(--accent1-color);
}

.hero-image {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    grid-column: 1 / -1;
    
}

h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}
.top, .center, .bottom {
    display: grid;
    font-family: var(--paragraph-font);
    color: var(--accent2-color);
    padding: 2em;
}

.top {
    grid-column: span 2;
    grid-row: 2;
    align-items: center;
}

.center {
    grid-column: span 2;
    grid-row: 3;
    align-items: center;   
}

.bottom {
    grid-column: span 2;
    grid-row: 4;
}

#img-top {
    grid-column: 2;
    height: auto;
    box-shadow: 5px 5px 5px #999;
}

#top {
    padding: 1.5em 1.5em 1.5em 0;
}

#img-center {
    grid-column: 1;
    height: auto;
    box-shadow: 5px 5px 5px #999;
}

#center {
    grid-column: 2;
    padding: 1.5em 0 1.5em 1.5em;
}

#botom {
    padding: 1.5em;
}

.banner {
    grid-column: 1 / -1;
    grid-row: 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#banner-image {
    grid-column: 1 / -1;
    grid-row: 1;
}

.action {
    grid-column: 1;
    grid-row: 1;
    background-color: rgba(240, 240, 240, 0.8);
    margin: 3em 3em;
    padding: 1em ;
    text-align: center;
    box-shadow: 5px 5px 5px #999;
}

.action button {
    line-height: 2em;
    width: 10em;
    background-color: #e7c24f;
    font-size: 1.2em;
}

.action button:hover {
    text-decoration: underline;
    background-color: #EED381;
}

footer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    font-family: var(--paragraph-font);
    color: var(--accent1-color);
    background-color: var(--accent2-color);
}

.contact {
    padding-left: 1.5em;
    grid-column: 1 / 4;
}

.social {
    padding: .5em;
    margin-top: 1em;
    text-align: end;
    
}
.copy {
    text-align: center;
    grid-column: 1 / 5;
}

@media (max-width: 1024px) {
    img {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 900px) {
    nav {
        padding-right: 3em;
    }
    nav ul {
        list-style-type: none;
        display: grid;
        grid-template-columns: auto auto;
    }    
}

@media (max-width: 800px) {
    header {
        flex-direction: column;
    }

    .banner {
        display: block;
    }
}

@media (max-width: 550px) {
    main, header, .top, .center, .bottom{
        display: block;
    }
}